body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

.site-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  transition: opacity 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.site-header-actions {
  display: flex;
  align-items: center;
}

.sitenav-list {
  list-style: none;
  display: flex;
}

.sitenav-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.sitenav-link:hover {
  color: #ff7500;
}

.sitenav-link:active {
  opacity: 0.6;
}

.main-link {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  background-color: #ff7500;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}

.hero {
  background-color: #252420;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 390px;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.hero-img {
  width: 510px;
  height: 510px;
}

.features-heading {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title {
  font-size: 24px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.feature-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.feature {
  width: 340px;
  list-style: none;
}

.promo {
  background-color: #252420;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.promo-highlight {
  color: #ff7500;
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.site-footer {
  background-color: #f8f8f8;
}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer ul {
  list-style: none;
}

.site-footer-socials {
  display: flex;
  align-items: center;
}

.site-footer-socials a{
  color: #252420;
}

.site-footer-socials a:hover {
  color: #ff7500;
}

.site-footer-socials a:active {
  opacity: 1.6;
}

.site-footer-devider {
  background: rgba(37, 36, 32, 0.5);
  height: 2px;
}

.site-footer-bottom {
  display: flex;
}

.site-footer-links {
  width: 224px;
  line-height: 19px;
}

.site-footer-links a {
  text-decoration: none;
  color: #252420;
}

.site-footer-links a:hover {
  color: #ff7500;
}

.site-footer-links a:active {
  opacity: 0.6;
}
