:root {
  --accent-color: #ff7500;
  --main-font: "Roboto", "Arial", sans-serif;
  --main-condenced-font: "Roboto Condensed";
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--main-font);
  letter-spacing: 0.5px;
}

*:focus {
  outline: 2px dotted var(--accent-color);
  outline-offset: 3px;
}

/* Container */

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Site-header */

.site-header {
  background-color: #fff;
  border-top: 5px solid var(--accent-color);
  padding-top: 16px;
  padding-bottom: 16px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  transition: opacity 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.logo-link img {
  display: block;
}

.site-header-actions {
  display: flex;
  align-items: center;
}

/* Site-nav */

.sitenav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-right: 32px;
}

.sitenav-item {
  margin-right: 32px;
}

.sitenav-item:last-child {
  margin-right: 0;
}

.sitenav-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.sitenav-link:hover {
  color: var(--accent-color);
}

.sitenav-link:active {
  opacity: 0.6;
}

/* Main-link */

.main-link {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  background-color: var(--accent-color);
  text-decoration: none;
  transition: opacity 0.4s ease;
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;
  padding: 12px 24px;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}

/* Hero */

.hero {
  background-color: #252420;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  width: 390px;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: var(--accent-color);
  border: 0;
  margin: 0;
  margin-bottom: 40px;
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: var(--main-condenced-font), var(--main-font);
}

.hero-text {
  margin-top: 0;
  margin-bottom: 32px;
}

.hero-img {
  width: 510px;
  height: 510px;
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}

/* Features */

.features {
  padding-top: 210px;
  padding-bottom: 210px;
}

.features-heading {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 72px;
  font-family: var(--main-condenced-font), var(--main-font);
}

.features-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.feature-title {
  font-size: 24px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 12px;
  font-family: var(--main-condenced-font), var(--main-font);
}

.feature-info {
  margin: 0;
}

.feature {
  width: 340px;
  list-style: none;
  margin-right: 40px;
}

.feature:last-child {
  margin-right: 0;
}

/* Promo */

.promo {
  padding-top: 120px;
  padding-bottom: 160px;
}

.promo-inner {
  border-radius: 12px;
  background-color: #252420;
  padding: 64px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.promo-content {
  width: 440px;
}

.promo-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 48px;
  font-family: var(--main-condenced-font), var(--main-font);
}

.promo-info-wrapper {
  margin-bottom: 24px;
}

.promo-text {
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-text:last-child {
  margin-bottom: 0;
}

.promo-highlight {
  color: var(--accent-color);
}

.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 12px;
}

/* Site-footer */

.site-footer {
  background-color: #f8f8f8;
  padding-top: 56px;
  padding-bottom: 56px;
}

.site-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer ul {
  list-style: none;
  padding: 0;
}

/* Img block */

.site-footer-socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.site-footer-socials li {
  margin-right: 16px;
}

.site-footer-socials li:last-child {
  margin-right: 0;
}

.site-footer-socials a {
  color: #252420;
  display: block;
}

.site-footer-socials a:hover {
  color: var(--accent-color);
}

.site-footer-socials a:active {
  opacity: 1.6;
}

.site-footer-socials a svg {
  display: block;
}

.site-footer-devider {
  background: rgba(37, 36, 32, 0.5);
  height: 2px;
  border: 0;
  margin-top: 40px;
  margin-bottom: 64px;
}

.site-footer-bottom {
  display: flex;
}

.site-footer-links {
  width: 224px;
  line-height: 19px;
  padding: 0;
  margin: 0;
  margin-right: 68px;
}

.site-footer-links li {
  margin-bottom: 16px;
}

.site-footer-links li:last-child {
  margin-bottom: 0;
}

.site-footer-links:last-child {
  margin-right: 0;
}

.site-footer-links a {
  text-decoration: none;
  color: #252420;
}

.site-footer-links a:hover {
  color: var(--accent-color);
}

.site-footer-links a:active {
  opacity: 0.6;
}
